@import "../../../../../assets/styles/vars";

:host {
  min-height: 5rem;
}

input {
  width: 100%;
  box-sizing: border-box;
}

.hasErrors {
  border: 1px solid $errorColor;
}

.error-message {
  color: $errorColor;
  margin: 0.2rem 0;
  font-size: 0.6rem;
}
