.item {
  border-left: 0.4rem solid black;
  margin: 1.2rem 0;
}

div[data-test-hook="transactionDate"] {
  font-size: 0.9rem;
  padding: 0.6rem;
  padding-right: 2rem;
}

div[data-test-hook="transactionAmount"] {
  font-size: 1rem;
  font-weight: 400;
}

div[data-test-hook="transactionType"] {
  color: gray;
}

app-transaction-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
