<label [for]="fieldName">{{ fieldTitle }}</label>
<div style="display: flex">
  <select [formControl]="currencyControl">
    <ng-container *ngFor="let currencyCode of currencyCodes">
      <option [value]="currencyCode">
        {{ getCurrencySymbol(currencyCode, "narrow") }}
      </option>
    </ng-container>
  </select>
  <input
    [formControl]="amountControl"
    [id]="fieldName"
    [name]="fieldName"
    [ngClass]="{
      hasErrors: amountControl.errors && this.amountControl.touched
    }"
    [placeholder]="placeholder"
    pattern="^\d*(\.\d{0,2})?$"
    step=".01"
    type="number"
  />
</div>
<p
  *ngIf="amountControl.errors && this.amountControl.touched"
  class="error-message"
>
  {{ amountControl.errors | errorsPipe }}
</p>
