@import "../../../../../assets/styles/vars";

:host {
  min-height: 5rem;
}

input {
  width: 100%;
  box-sizing: border-box;
}

select {
  appearance: none;
  background-color: $fieldGrayBackground;
  border: 1px solid $darkGray;
  border-radius: 3px 0 0 3px;
  border-right: 0;

  min-width: 2rem;
  text-align: center;

  color: $almostBlack;
  font-family: "Roboto", Helvetica, sans-serif;
}

input {
  border-radius: 0 3px 3px 0;
}
