$primary: #ff9818;
$warning: #f87526;
$danger: #fd3b37;
$disabled: #aeb8c0;
$white: #ffffff;
$border: #e08d31;

$box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);

$button-icon-padding: 1rem;
$button-text-color: $white;

@mixin button-style($button-color) {
  border: 1px solid $button-color;
  background: $button-color;
}

.btn {
  border-radius: 0.3rem;
  box-shadow: $box-shadow;
  color: $button-text-color;
  margin: 0.4rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid $border;
  font-weight: 400;
  font-size: 1rem;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &[disabled] {
    background-color: $disabled;
    border: 1px solid $disabled;
  }

  &-primary {
    @include button-style($primary);
  }

  &-warning {
    @include button-style($warning);
  }

  &-danger {
    @include button-style($danger);
  }

  &__text {
    font-size: 2rem;
  }

  &__text + &__icon,
  &__icon + &__text {
    margin-left: 0.6rem;
  }

  &__icon {
    position: relative;
    bottom: 2px;

    &-spinner {
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
