@import "~src/assets/styles/vars";

$modalPadding: 0.8rem;

.modal-header {
  min-height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  justify-content: space-between;

  .icon {
    fill: $almostBlack;
    height: 0.7rem;
    margin-right: 0.5rem;
  }

  padding: $modalPadding;
  border-bottom: 2px solid lighten($inputTextColor, 30%);
}

.modal-main-section {
  padding: $modalPadding;
  border-bottom: 2px solid lighten($inputTextColor, 30%);
}

.modal-question {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.modal-footer {
  padding: $modalPadding;
  display: flex;
  justify-content: flex-end;

  > * {
    margin-left: 0.4rem;
  }
}
