// spacing
$small-spacing: 5px;
$medium-spacing: 0.6rem;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;

$errorColor: #d73333;
$darkGray: #b0b0b0;
$inputTextColor: #969696;
$fieldGrayBackground: #f8f8f8;

$almostBlack: #232323;
