@import "~src/assets/styles/vars";
@import "buttons";
@import "inputs";
@import "modals";

body, html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;

  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

.merchant-details {
  flex: 2;
  padding: 1rem;
}

.make-transfer-form * {
  display: block;
}

.logo img {
  width: 100%;
  height: auto;
}

app-footer footer {
  // bugfix: too much space around app-footer causing a scrollbar to show;
  // a cleaner way would be to change "width: 100vw" to % in footer component but I am not allowed to touch the bb-ui module
  width: 100% !important;
}
