<div class="box">
  <header class="modal-header">
    <img class="icon" src="../../../../../assets/credit-card-svgrepo-com.svg" />
    <span class="modal-title"><strong>Make</strong> Transfer</span>
  </header>
  <section class="main-section">
    <form [formGroup]="formGroup" class="make-transfer-form">
      <app-custom-input
        [control]="fromAccount"
        [fieldName]="'fromAccount'"
        [fieldTitle]="'From Account'"
        [placeholder]="'My Personal Account'"
      ></app-custom-input>

      <app-custom-input
        [control]="toAccount"
        [fieldName]="'toAccount'"
        [fieldTitle]="'To Account'"
        [placeholder]="'type an account name'"
      ></app-custom-input>

      <app-custom-currency-input
        [control]="amount"
        [currencyControl]="currencyCode"
        [fieldName]="'amount'"
        [fieldTitle]="'Amount'"
        [placeholder]="'specify the amount'"
      ></app-custom-currency-input>

      <div class="submit-button-container">
        <app-submit-button (submitForm)="submit()"></app-submit-button>
      </div>
    </form>
  </section>
</div>
