.submit-button-container {
  display: flex;
  justify-content: flex-end;
}

.make-transfer-form > * {
  display: block;
  min-height: 7rem;

  &:last-child {
    display: flex;
    min-height: unset;
  }
}
