<div class="box">
  <header class="panel-header">
    <img
      class="icon"
      src="../../../../../assets/icons/credit-card-svgrepo-com.svg"
    />
    <span class="panel-title"><strong>Make</strong> Transfer</span>
  </header>
  <section class="main-section">
    <form [formGroup]="formGroup" class="make-transfer-form">
      <app-custom-currency-input
        [amountControl]="formGroup.get('fromAccount.amount') | asFormControl"
        [currencyControl]="
          formGroup.get('fromAccount.currencyCode') | asFormControl
        "
        [fieldName]="'fromAccount'"
        [fieldTitle]="'From Account'"
        [placeholder]="''"
      ></app-custom-currency-input>

      <app-custom-input
        [control]="formGroup.get('toAccount') | asFormControl"
        [fieldName]="'toAccount'"
        [fieldTitle]="'To Account'"
        [placeholder]="'type an account name'"
      ></app-custom-input>

      <app-custom-currency-input
        [amountControl]="formGroup.get('amount.amount') | asFormControl"
        [currencyControl]="formGroup.get('amount.currencyCode') | asFormControl"
        [fieldName]="'amount'"
        [fieldTitle]="'Amount'"
        [placeholder]="'specify the amount'"
      ></app-custom-currency-input>

      <div class="submit-button-container">
        <app-submit-button (submitForm)="submit()"></app-submit-button>
      </div>
    </form>
  </section>
</div>
